 *{   
     /* -webkit-box-shadow: inset 0px 0px 0px 1px rgba(200,200,200,0.3);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(200,200,200,0.3);
    box-shadow: inset  0px 0px 0px 1px rgba(200,200,200,0.3); */
} 


/*buttons*/
.btn-100{width: 100px;}
.btn-150{width: 150px;}
.btn-200{width: 200px;}
.btn-250{width: 250px;}

.borda-teste{
    border: red 2px solid;
}

.card-claro{
    background-color: rgb(240, 232, 232);
}

.card-claro2{
    background-color: rgb(224, 212, 212);
}


.largura-240px{
    width: 240px;
}

.marg-topo{
    margin-top: 20px;
}



.marg-topo-menos-15{
    margin-top: -15px;
}



.marg-neg{
    margin-left: -30px;
}

.marg-esq-20{
    margin-left:20px;
}

.marg-esq-10{
    margin-left:10px;
}

.font1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: aqua;
}

.font3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(240, 154, 43);
}
.font2{
    color: burlywood;
}

.padding-dir-esq-10{
    padding-left: 10px;
    padding-right: 10px;
}

.marg-fundo{
    margin-bottom: 10px;
}

.marg-fundo20{
    margin-bottom: 20px;
}

.cor-botao-secondary{
    background-color: #6c757d;
    color: white;
}

.padding-dir-esq-10{
    padding-left: 10px;
    padding-right: 10px;
}

.padding-dir-esq-0{
    padding-left: 20px;
    padding-right: 20px;
}









