 *{   
     /* -webkit-box-shadow: inset 0px 0px 0px 1px rgba(200,200,200,0.3);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(200,200,200,0.3);
    box-shadow: inset  0px 0px 0px 1px rgba(200,200,200,0.3); */
} 


/*buttons*/
.btn-100{width: 100px;}
.btn-150{width: 150px;}
.btn-200{width: 200px;}
.btn-250{width: 250px;}

.borda-teste{
    border: red 2px solid;
}
.borda-teste2{
    border: red 5px solid;
}

.padding-0{
    padding: 0%;
}

.borda-teste0{
    
    width: 100%;
    height: 100%;
}
.card-claro{
    background-color: rgb(240, 232, 232);
}

.card-claro2{
    background-color: rgb(245, 210, 210);
}

.card-user{
    background-color: rgb(201, 187, 187);
}

.card-claro2{
    background-color: rgb(224, 212, 212);
}


.largura-240px{
    width: 240px;
}

.marg-topo{
    margin-top: 20px;
}

.marg-topo-5{
    margin-top: 5px;
}


.marg-topo-10{
    margin-top: 10px;
}


.marg-topo-menos-15{
    margin-top: -15px;
}

.marg-topo-menos-50{
    margin-top: -50px;
}



.marg-neg{
    margin-left: -30px;
}

.marg-esq-20{
    margin-left:20px;
}

.marg-esq-10{
    margin-left:10px;
}

.font1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: aqua;
}

.font3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(240, 154, 43);
}
.font2{
    color: burlywood;
}

.padding-dir-esq-10px{
    padding-left: 10px;
    padding-right: 10px;
}

.marg-fundo{
    margin-bottom: 10px;
}

.marg-fundo-5{
    margin-bottom: 5px;
}

.marg-fundo-20{
    margin-bottom: 20px;
}

.marg-fundo-30{
    margin-bottom: 60px;
}

.marg-fundo20{
    margin-bottom: 20px;
}

.cor-botao-secondary{
    background-color: #6c757d;
    color: white;
}

.cor-botao-verde{
    background-color: #2aa735;
    color: white;
}

.padding-dir-esq-10{
    padding-left: 0px;
    padding-right: 0px;
}

.padding-dir-esq-0{
    padding-left: 20px;
    padding-right: 20px;
}

@keyframes vai-apagar{
    50%{
    opacity:1 ;
    }
    100%{
    opacity:0 ;
    }
    }

.alerta-apagando
{
    animation: vai-apagar 7s;
    opacity: 0;
   
}

.novo-signup a{
    text-decoration: none;
    color: rgb(76, 161, 241);
}

.novo-signup a:hover{
    color: rgb(247, 145, 50);
}

.marg-dir-esq-20px{
    margin-left: -20px;
    margin-right: -20px;
}

.marg-esq-10px{
    margin-left: -10px;
}


.marg-topo-150{
    margin-top: 150px;
}

.marg-topo-10{
    margin-top: 10px;
}

.marg-topo-30{
    margin-top: 30px;
}

.borda-mensagem{
    border: rgb(211, 139, 139) 3px solid;
}

.borda-mensagem2{
    border: rgb(156, 123, 123) 3px solid;
}
.encher-mensagem{
    background-color: rgb(241, 115, 115);
}

.cor-alerta-del{
    color: rgb(212, 92, 92);
}

.cabeca-tabela{
    background-color: black;
    color: white;
}

.table-striped2 > tbody > tr:nth-of-type(odd) {
    background-color: #dff1f1;
  }

.cor-alerta{
      color: rgb(240, 94, 94);
  }

  ol textarea
  {
    width: 100%;
    height: 100%;
  }












